@import "./App.scss";
@import "./CharacterCard.scss";
@import "./Filters.scss";
@import "./Footer.scss";

body {
  background-color: rgb(115, 192, 198);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
